@import '../../params';

.WriteMsg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        font-size: 1.5rem;
        width: 70rem;

        label {
            margin-bottom: 2rem;
            width: 100%;
            div {
                margin-bottom: .5rem;
            }

            input, textarea {
                padding: .5rem;
                font-size: 1.5rem;
                border-bottom: 1px solid $accent-color;
                width: 100%;
            }

            textarea {
                outline: none;
                border: none;
                border-bottom: 1px solid $accent-color;
                height: 30rem;
            }
        }

        .submit {
            width: 15rem;
            padding: 1rem;
            background-color: $accent-color;
            font-weight: bold;
            color: black;
            cursor: pointer;
        }

        .close {
            position: fixed;
            top: 0;
            right: 0;
            width: 10rem;
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.76);
            }

            div {
                color: white;
                transform: rotate(45deg);
                font-size: 7rem;

            }
        }
    }
}