@import '../../params';

.Letter {
    background-color: $primary;
    grid-row: 2;
    overflow-y: scroll;

    &__wow {
        font-size: 7rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: darken($color: $primary, $amount: 3);
        text-align: center;
    }

    &__delete {
        margin: 1rem 3rem 1rem auto;
        background-color: $secondary;
        color: $accent-color;
        width: max-content;
        padding: .5rem 1rem;
        cursor: pointer;
        font-size: 1.2rem;
        text-align: right;
    }

    &__content {
        width: 100;
        margin: 3rem;
        margin-top: 1rem;
        background-color: white;
        font-size: 1.5rem;

        div {
            padding: 1rem;
        }
    }

    &__attachments {
        margin: 1rem;
        display: flex;

        & > li {
            background-color: $primary;
            padding: 1rem;
            margin-right: 1rem;
            font-weight: bold;
            cursor: pointer;
            transition: .2s;

            &:hover {
                color: $accent-color;
                background-color: $secondary;
            }
        }
        
    }
}