@import '../../params';

.Header {
    background-color: black;
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 100%;

    &__filters {
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 2rem;
    }

    &__filter {
        width: max-content;
        font-size: 1.4rem;
        padding: 0.5rem;
        // border-radius: .7rem;
        cursor: pointer;

        display: flex;
        align-items: center;

        i {
            font-size: 2rem;
            border-bottom: .2rem solid white;
            margin-right: .5rem;
        }

        &:hover {
            background-color: $secondary;

            i {
                border-bottom: .2rem solid $accent-color;
            }
            
        }
    }


    &__logo {
        height: 100%;
        // width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 100%;
        }

        h1 {
            color: $accent-color;
            margin-left: 0.5rem;
            font-size: 3rem;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    &__write-msg {
        color: white;
        justify-self: right;
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 3rem;
        padding: 1rem;
        transition: .2s;
        font-weight: bold;

        &:hover {
            background-color: $primary;
            color: black;
        }
    }

}