@import '../../params';

.LettersList {
    background-color: $secondary;
    grid-row: 2;
    color: $primary;
    overflow-y: scroll;

    .ListItem {

        height: 7rem;
        font-size: 1.6rem;
        padding: 1rem;
        overflow: hidden;

        display: grid;
        grid-template-columns: 5rem 6fr .5fr;
        grid-gap: 1rem;
        align-items: center;


        border-bottom: 0.1rem solid black;
        cursor: pointer;

        &:hover {
            background-color: black;
        }

        &__avatar {
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 2rem;

            border-radius: 50%;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__info {
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            overflow-x: hidden;

            // box-shadow: inset -2rem 0 2rem -2rem $secondary;
        }

        &__author {
            color: $accent-color;
            margin-bottom: .5rem;
        }

        &__title {
            width: max-content;
        }

        &__datetime {
            font-size: 1rem;
            text-align: center;
        }
    }
}