@import './params';
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body {
    font-size: 10px;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Ubuntu', ;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
}

input {
    border: none;
    outline: none;
}
